*{
  padding: 0;
  margin: 0;
}

body {
  overflow-x:hidden;
  animation: hue-rotate 6s infinite;
  background: url('https://images.unsplash.com/photo-1666811260863-560f6b6e0e29?q=80&w=1886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  -webkit-filter: grayscale(30%);
  z-index: -1;
}
.login-form{
 margin-top: 70px;
 margin-right: 20px;
}



a{ text-decoration: none; color: #53585e; }

ul{ padding: 0; margin: 0; list-style: none; }

.login-form .form-bg, .col-form-description{
	min-height: 100vh;
}


.login-form .form-container{
  background-color: #15161D;
  border-radius: 20px;
  padding: 50px;
  color: aliceblue;
}

.form-header .title{
  font-size: 1.5 rem;
  padding-top: 10px;
}

.login-form .form-body .field{

    display: flex;
}  

.login-form .form-body .field span{
  height: 45px;
  width: 50px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  background: #1964af;
} 

.login-form .form-body .field .form-control{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left:0;
}
.login-form .forgot-password{ float: right; }


.form-body .field .form-control{
  height: 45px;
}

.login-form .submit{
    color: #fff;
    width: 100%;
    
}

.login-form .form-footer .title{
	font-size: 2rem;
  font-weight: 400;
}
.login-form .form-footer .title{
	display: flex;
	justify-content: center;
}

.login-form .form-footer .title:before, .login-form .form-footer .title:after{
	  content: "";
    flex-grow: 1;
    background-color: #ccc;
    height: 1px;
    margin-top: 10px;
}
.login-form .form-footer .title:before{
	margin-right: 5px;
}
.login-form .form-footer .title:after{
	margin-left: 5px;
}
.social-network li{
	  display: inline-block;
    background-color: #1964af;
    padding: 5px 10px;
    border-radius: 3px;
    width: 87px;
    font-weight: 500px;
}


.social-network li a{ color: #ffffff; display: block; }
.social-network li.twitter{
	background-color: #33ccff;
}
.social-network li.gmail{
	background-color: #db4437;
}
.form-description{
	  text-align: left;
    padding-right: 100px;
    padding-left: 50px;
    margin-top: 50px;
}
.col-form-description{
	  display: flex;
    align-items: center;
}
.login-btn{
  background: #1964af;
}
.right{
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.title-right{
  font-weight: 700;
  color: #295f95;
}

.signup-btn{
  margin-top: 40px;
}

/*Chỉnh responsive*/
@media screen and (max-width: 650px){
	.login-form .form-bg, .form-description{
		padding: 15px;
	}
	.login-form .form-bg, .col-form-description{
		min-height:100%;
	}
	.form-description{
		text-align: center;
	}
	.login-form .form-bg{
		order: 1;
	}
  
}
@media screen and (max-width: 980px){
	.login-form .form-bg, .form-description{
		padding: 15px;
	}
	.login-form .form-bg, .col-form-description{
		min-height:100%;
	}
	.form-description{
		text-align: center;
	}
	.login-form .form-bg{
		order: 1;
	}
  .login-form{
    
    margin: 0;
   }
}